@model WebApplication1.Models.Book

@{
    ViewData["Title"] = "Создание";
}
<style>
    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/additional_styles.css">
</head>

<h4 class="text-center">Книга</h4>
<hr />
<div class="row center-content">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label><br>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstAuthor" class="control-label"></label><br>
                <select asp-for="FirstAuthorId" class ="form-control" asp-items="ViewBag.FirstAuthorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="YearOfPublication" class="control-label"></label><br>
                <input asp-for="YearOfPublication" class="form-control" />
                <span asp-validation-for="YearOfPublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label><br>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfExamples" class="control-label"></label><br>
                <input asp-for="NumberOfExamples" class="form-control" />
                <span asp-validation-for="NumberOfExamples" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label><br>
                <select asp-for="PublisherId" class ="form-control" asp-items="ViewBag.PublisherId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Info" class="control-label"></label><br>
                <textarea asp-for="Info" class="form-control" rows="8" cols="50"></textarea>
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageData" class="control-label"></label><br>
                <input type="file" name="ImageData" class="form-control-file" />
                <span asp-validation-for="ImageData" class="text-danger"></span>
            </div>


            <div class="form-group text-center">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
