@{
    ViewData["Title"] = "Главная";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/additional_styles.css">
</head>
<body>
            <hr>
        <header>
        <h2>Добро пожаловать в виртуальную библиотеку</h2>
        <h1 class="fw-bold">BiblyGibly</h1>
        </header>
            <hr>
    <div class="container mt-5">

        <div class="text-lg-start border-left border-right border-dark p-400">
            @* <h2 class="display-4 text-center">Добро пожаловать в виртуальную библиотеку</h2>
            <h3 class="display-4 text-center">BiblyGibly</h3> *@
            <p class="lead">
                📚 Взгляните на наш обширный каталог книг, доступных для аренды, и окунитесь в бескрайний океан литературных возможностей. Независимо от того, являетесь ли вы страстным читателем, исследователем или просто любознательным духом, у нас есть что-то для каждого.
            </p>
            <p class="lead">
                Оцените удобство нашего сервиса аренды книг, который позволит вам наслаждаться каждой страничкой, не перегружая полки дома. Заглядывайте в нашу библиотеку, будто открываете новую главу в своей собственной истории чтения.
            </p>
            <p class="lead">
                Совершите виртуальное путешествие сквозь страницы, и дайте знанию расцвести в вашем воображении. Добро пожаловать в мир, где каждая книга — ключ к новому приключению! 📖✨
            </p>

        </div>
        <hr>
        <div class="text-center">
            <img src="~/images/Home/library_logo.png" alt="Library Logo" class="img-fluid mb-4" style="max-width: 350px;">
        </div>
    </div>
</body>
