@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }


    .container {
        width: 80%;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1, h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        line-height: 1.6;
        color: #333;
    }
</style>
<body>
        <header>
        <h2>Добро пожаловать в виртуальную библиотеку</h2>
            <hr>
        <h1 class="fw-bold">BiblyGibly</h1>
            <hr>
        </header>
    <div class="container mt-5">

        <div class="text-lg-start border-left border-right border-dark p-400">
            @* <h2 class="display-4 text-center">Добро пожаловать в виртуальную библиотеку</h2>
            <h3 class="display-4 text-center">BiblyGibly</h3> *@
            <p class="lead">
                📚 Взгляните на наш обширный каталог книг, доступных для аренды, и окунитесь в бескрайний океан литературных возможностей. Независимо от того, являетесь ли вы страстным читателем, исследователем или просто любознательным духом, у нас есть что-то для каждого.
            </p>
            <p class="lead">
                Оцените удобство нашего сервиса аренды книг, который позволит вам наслаждаться каждой страничкой, не перегружая полки дома. Заглядывайте в нашу библиотеку, будто открываете новую главу в своей собственной истории чтения.
            </p>
            <p class="lead">
                Совершите виртуальное путешествие сквозь страницы, и дайте знанию расцвести в вашем воображении. Добро пожаловать в мир, где каждая книга — ключ к новому приключению! 📖✨
            </p>

        </div>
        <hr>
        <div class="text-center">
            <img src="~/images/Home/library_logo.png" alt="Library Logo" class="img-fluid mb-4" style="max-width: 350px;">
        </div>
    </div>
</body>
