@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности</title>
    <style>
        
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }


        .container {
            width: 80%;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            line-height: 1.6;
            color: #333;
        }

    </style>
</head>

<body>
    <header>
        <h1>Библиотека "BiblyGibly"</h1>
    </header>

    <div class="container">
        <h2>Политика конфиденциальности</h2>
        <p>Добро пожаловать на страницу политики конфиденциальности библиотеки "BiblyGibly". Мы ценим вашу доверенность и обязуемся защищать ваши персональные данные.</p>
        <p><strong>Сбор и использование данных:</strong> Мы собираем различные данные, включая имена, адреса электронной почты и IP-адреса, для обеспечения доступа к нашим услугам и предоставления персонализированных рекомендаций книг.</p>
        <p><strong>Хранение данных:</strong> Ваши данные хранятся на защищенных серверах, и мы предпринимаем все необходимые меры для обеспечения их безопасности.</p>
        <p><strong>Файлы cookie:</strong> Мы используем файлы cookie для улучшения вашего опыта на сайте. Вы можете управлять использованием файлов cookie в настройках вашего браузера.</p>
        <p><strong>Управление данными:</strong> Вы имеете право запросить доступ, исправление или удаление ваших персональных данных. Свяжитесь с нами для выполнения этих запросов.</p>
        <p><strong>Соответствие законам:</strong> Наша политика соответствует действующим законам и требованиям по защите данных в России.</p>
    </div>

</body>

</html>

