@{
    ViewData["Title"] = "Политика конфиденциальности";
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="~/css/additional_styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности</title>
   
    
</head>

<body>
    <header>
        <h1>Библиотека "BiblyGibly"</h1>
    </header>

    <div class="container">
        <h2>Политика конфиденциальности</h2>
        <p>Добро пожаловать на страницу политики конфиденциальности библиотеки "BiblyGibly". Мы ценим вашу доверенность и обязуемся защищать ваши персональные данные.</p>
        <p><strong>Сбор и использование данных:</strong> Мы собираем различные данные, включая имена, адреса электронной почты и IP-адреса, для обеспечения доступа к нашим услугам и предоставления персонализированных рекомендаций книг.</p>
        <p><strong>Хранение данных:</strong> Ваши данные хранятся на защищенных серверах, и мы предпринимаем все необходимые меры для обеспечения их безопасности.</p>
        <p><strong>Файлы cookie:</strong> Мы используем файлы cookie для улучшения вашего опыта на сайте. Вы можете управлять использованием файлов cookie в настройках вашего браузера.</p>
        <p><strong>Управление данными:</strong> Вы имеете право запросить доступ, исправление или удаление ваших персональных данных. Свяжитесь с нами для выполнения этих запросов.</p>
        <p><strong>Соответствие законам:</strong> Наша политика соответствует действующим законам и требованиям по защите данных в России.</p>
    </div>

</body>

</html>

