@{
    ViewData["Title"] = "Select Role";
}

<h2>@ViewData["Title"]</h2>

<p>Select a role for the user with email: @ViewBag.Email</p>

<form asp-action="ChangeUserRolePost" method="post">
    <input type="hidden" name="userEmail" value="@ViewBag.Email" />
    <div class="form-group">
        <label >Role:</label>
        <p>@ViewBag.UserRoles</p>
    </div>
    <div class="form-group">
        <label for="newRole">New Role:</label>
        <select id="newRole" name="newRole" asp-items="ViewBag.Roles"></select>
    </div>
    <button type="submit">Change Role</button>
</form>
