@model WebApplication1.Models.Issue
@{
    ViewData["Title"] = "Создание";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IssueDate" class="control-label"></label><br>
                <input asp-for="IssueDate" class="form-control" />
                <span asp-validation-for="IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label><br>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="ReaderId" class="control-label"></label>
                <select asp-for="ReaderId" class="form-control" asp-items="ViewBag.ReaderId"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="Reader" class="control-label"></label><br>
                <input type="text" id="searchReaders" class="form-control" placeholder="Начните вводить...">
                <div id="readerList"></div>
                <input type="hidden" id="selectedReaderId" name="ReaderId" />
            </div>
            <div class="form-group">
                <label>Поиск книг</label><br>
                <input type="text" id="search" class="form-control" placeholder="Начните вводить...">
                <button id="addBook" disabled>Добавить</button>
                <div id="bookList"></div>
            </div><br>
            <h4>Выбранные книги</h4>
            <ul id="selectedBooksList"></ul><br>
            <p>Сумма: <span id="totalPrice">0</span></p>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="/_framework/aspnetcore-browser-refresh.js"></script>

            <script>
                var selectedBookId = null;
                var selectedReaderId = null;
                $(document).ready(function () {
                    $(document).on('keyup', '#search', function () {
                        var query = $(this).val().trim(); //  trim() для удаления пробелов в начале и конце
                        console.log("Searching for: " + query); // Отладочный вывод
                        if (query !== '') {
                            $.ajax({
                                url: "/Issues/SearchBooks", // Замените на фактический URL для вашего контроллера
                                method: "POST",
                                data: { 'query': query },
                                success: function (data) {
                                    console.log(data); // Отладочный вывод
                                    $('#bookList').empty(); 
                                    $.each(data, function (i, book) {
                                        
                                        $('#bookList').append('<div data-id="' + book.bookId + '"><label>' + book.title + '</label></div>');
                                    });
                                    $('#bookList').fadeIn();
                                }
                            });
                        } else {
                            $('#bookList').fadeOut();
                        }
                    });


                    $(document).on('click', '#bookList div', function () {
                        
                        $('#search').val($(this).text());
                        selectedBookId = $(this).data('id');
                        $('#addBook').prop('disabled', false);
                        $('#bookList').fadeOut();
                    });

                    
                    $(document).on('keyup', '#searchReaders', function () {
                        var query = $(this).val().trim();
                        console.log("Searching for readers: " + query);
                        if (query !== '') {
                            $.ajax({
                                url: "/Issues/SearchReaders",
                                method: "POST",
                                data: { 'query': query, 'selectedReaderId': selectedReaderId },
                                success: function (data) {
                                    console.log(data);
                                    $('#readerList').empty();
                                    $.each(data, function (i, reader) {
                                        $('#readerList').append('<div data-id="' + reader.readerId + '">' + reader.displayText + '</div>');
                                        console.log(reader.readerId);
                                    });
                                    $('#readerList').fadeIn();
                                }
                            });

                        } else {
                            $('#readerList').fadeOut();
                        }
                    });

                    $(document).on('click', '#readerList div', function () {
                        $('#searchReaders').val($(this).text());
                        selectedReaderId = $(this).data('id');
                        $('#selectedReaderId').val(selectedReaderId);
                        console.log(selectedReaderId);
                        $('#readerList').fadeOut();
                    });


         

                    $('#addBook').click(function (e) {
                        e.preventDefault();
                        var selectedBooksList = $('#selectedBooksList');
                        var selectedBookIds = $('#selectedBookIds');

                        // Получаем информацию о выбранной книге
                        $.ajax({
                            url: "/Issues/GetBookInfo",
                            method: "POST",
                            data: { 'bookId': selectedBookId },
                            success: function (book) {
                                // Добавляем книгу в список
                                selectedBooksList.append('<li data-price="' + book.price + '">' + book.title + ' - ' + book.price + ' руб ' + ' <button class="removeBookBtn" data-bookid="' + selectedBookId + '">Убрать</button></li>');

                                // Обновляем общую стоимость
                                updateTotalPrice();

                                // Добавляем ID книги в скрытое поле
                                var currentIds = selectedBookIds.val() || '';
                                selectedBookIds.val(currentIds + selectedBookId + ',');

                                // Очищаем поле поиска
                                $('#search').val('');
                                $('#addBook').prop('disabled', true);
                            }
                        });
                    });


                    $(document).on('click', '.removeBookBtn', function (e) {
                        e.preventDefault();
                        var bookId = $(this).data('bookid'); // Получаем ID книги, которую нужно удалить
                        var selectedBookIdsInput = $('#selectedBookIds');
                        var selectedBookIds = selectedBookIdsInput.val().split(',').filter(Boolean); // Получаем все ID выбранных книг

                        // Удаляем ID текущей книги из списка выбранных
                        selectedBookIds = selectedBookIds.filter(function (id) {
                            return id !== bookId.toString();
                        });

                        // Обновляем значение скрытого поля с ID выбранных книг
                        selectedBookIdsInput.val(selectedBookIds.join(','));

                        // Удаляем элемент списка с текущей книгой
                        $(this).parent().remove();
                        updateTotalPrice();
                    });


                    function updateTotalPrice() {
                        var totalPrice = 0;
                        $('#selectedBooksList li').each(function () {
                            totalPrice += parseFloat($(this).data('price'));
                        });
                        $('#totalPrice').text(totalPrice.toFixed(2)+' руб ');
                    }


                });
            </script>

            <div id="selectedBooks"></div>
            <input type="hidden" id="selectedBookIds" name="SelectedBookIds" />
            @* <div id="selectedReaders"></div>
            <input type="hidden" id="selectedReaderId" name="ReaderId" /> *@

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
