@model WebApplication1.Models.Author

@{
    ViewData["Title"] = "Редактирование";
}
<style>
    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>
@* <h1>Редактирование</h1> *@
<head>
    <link rel="stylesheet" type="text/css" href="~/css/additional_styles.css">
</head>
<h4 class="text-center">Автор</h4>
<hr />
<div class="row center-content">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AuthorId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label><br>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info" class="control-label"></label><br>
                <textarea asp-for="Info" class="form-control" rows="8" cols="50"></textarea>
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageData" class="control-label"></label><br>
                <input type="file" name="ImageData" class="form-control-file" />
                <span asp-validation-for="ImageData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
