@model IEnumerable<WebApplication1.Models.Author>

@{
    ViewData["Title"] = "Авторы";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/additional_styles.css">
</head>
<h1>Авторы</h1>
@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <p class ="text-center">
        <a asp-action="Create">Добавить нового автора</a>
    </p>
}
<table class="table">
    @* <thead>
        <tr>
            <th>
                ФИО
            </th>
            <th></th>
        </tr>
    </thead> *@
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AuthorId">Детальная информация</a>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                        <text> | </text>
                <a asp-action="Edit" asp-route-id="@item.AuthorId">Редактировать</a>
                        <text> | </text>
                <a asp-action="Delete" asp-route-id="@item.AuthorId">Удалить</a>
                        
                }
            </td>
        </tr>
}
    </tbody>
</table>
