@model WebApplication1.Models.Publisher

@{
    ViewData["Title"] = "Редактирование";
}
<style>
    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/additional_styles.css">
</head>
<h4 class="text-center">Издательство</h4>
<hr />
<div class="row center-content">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PublisherId" />
            <div class="form-group">
                <label asp-for="NameOfPublisher" class="control-label"></label><br>
                <input asp-for="NameOfPublisher" class="form-control" />
                <span asp-validation-for="NameOfPublisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label><br>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div><br>
            <div class="form-group text-center">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
